---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
<main>
			<h1> Welcome!</h1>
			<p>
				Book Your Consultation Today <a href="https://connect.intuit.com/portal/app/CommerceNetwork/view/scs-v1-dc14b3a29cfc4f85a15633567fbbf92084ac050bc24a4d9ead2a5f6411fbf4cd9a12830635cb42e0972a5def028dd04a?locale=EN_US">Talk To A Bookkeeper Today</a> Your go to place for all bookkeeping needs.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Visit Our Blog <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Stay Locked In
				<a href="https://connect.intuit.com/portal/app/CommerceNetwork/view/scs-v1-dc14b3a29cfc4f85a15633567fbbf92084ac050bc24a4d9ead2a5f6411fbf4cd9a12830635cb42e0972a5def028dd04a?locale=EN_US&amp;cta=paylinkbuybutton"
				 target="_blank" rel="noopener noreferrer" style="background: rgb(240, 145, 54); font-family: Arial, sans-serif; font-weight: 600; border-radius: 4px; line-height: 24px; padding: 6px 16px; font-size: 16px; text-decoration: none; text-align: center; color: white;">
				 <span>BuyBook Now</span>
				</a> 
				
				Check Your Availability <a href="https://Calendly.com"> Schedule Here</a> to ask questions.
			</p>
			<p>
				Clients 
				<a href="https://e-c-love.printify.me/products">EC Love
				</a> 
				<a href="https://shopiranha.net/collections/all">Piranha
				</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
